<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
                        @if (currentUser && !isTeacher) {
            <a class="navbar-brand" [routerLink]="['/']">SQL Trainer</a>
            }
            @if (currentUser && isTeacher) {
            <a class="navbar-brand" [routerLink]="['/teacher']">SQL Trainer</a>
            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow-1 me-auto">
                    @if (currentUser) {
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (currentUser && !isTeacher) {
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/quizzes']">
                                <span> Liste de quiz </span>
                            </a>
                        </li>
                    }
                    @if (isTeacher) {
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/teacher']">
                                <span> Gestion des quiz </span>
                            </a>
                        </li>
                    }
                    @if (!currentUser) {
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/login']">
                                <span class="material-icons">exit_to_app</span>
                                <span> Login </span>
                            </a>
                        </li>
                    }
                    @if (!currentUser) {
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/signup']">
                                <span class="material-icons">person_add</span>
                                <span>Signup</span>
                            </a>
                        </li>
                    }
                    @if (currentUser) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" [routerLink]="[]" (click)="logout()">    
                                <span class="material-icons">power_settings_new</span>
                                <span> Logout </span>
                                <span class="text-info">({{authenticationService.currentUser?.pseudo}})</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>